.CompaniesPage {
    width: 100%;


  }
  
  .CompaniesPage h1 {
    font-size: 32px;
    font-weight: bold;
 padding-bottom: 5px;
    margin: 0px;
  }
  
  .CompaniesPage p {
    color: #666;
    margin-bottom: 20px;
  }
  
  .company-search {
    max-width: 500px; /* حد أقصى */
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 30px;
    outline: none;
  }
  
  .companies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 25px;
    margin-top: 20px;
  }
  /* ======== الشاشات الصغيرة ========= */
@media (max-width: 600px) {
  .CompaniesPage {
    padding: 90px 20px !important;  /* تصغير الحواف */
  }

  .company-search {
    max-width: 100%;
  }
}
